@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Helvetica Neue Font Family */
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/HelveticaNeueRoman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/HelveticaNeueLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/HelveticaNeueMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/HelveticaNeueBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/HelveticaNeueHeavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/HelveticaNeueBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 210 5% 16%;
    --card: 0 0% 8%;
    --primary: 22 78% 59%;
    --border: 210 5% 16%;
    --primary-text: 60 50% 99%;
    --secondary-text: 210 2% 55%;
    --success: 143 77% 65%;
    --danger: 1 81% 66%;
    --icon-primary: 60 50% 99%;
    --icon-tertiary: 160 1% 50%;
    --inverse: 0 0% 0%;
    --yellow: 46 100% 48%;
    --warning: 36 88% 64%;
    --info: 217 91% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 210 5% 16%;
    --card: 0 0% 8%;
    --primary: 22 78% 59%;
    --border: 210 5% 16%;
    --primary-text: 60 50% 99%;
    --secondary-text: 210 2% 55%;
    --success: 143 77% 65%;
    --danger: 1 81% 66%;
    --icon-primary: 60 50% 99%;
    --icon-tertiary: 160 1% 50%;
    --inverse: 0 0% 0%;
    --yellow: 46 100% 48%;
    --warning: 36 88% 64%;
    --danger: 1 82% 66%;
    --info: 217 91% 60%;
  }
}

@layer base {
  body {
    @apply bg-background text-primary-text;
    /* font-family: 'Helvetica Neue', sans-serif; */
    font-family: 'SF Pro Display', sans-serif;
  }
  button,
  button:focus-visible {
    outline: none !important;
  }
}
/* ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--opensea-dark-gray));
} */

/* Hide scrollbar utility class */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@theme inline {
  --animate-aurora: aurora 8s ease-in-out infinite alternate;

  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }
    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }
    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }
    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }
}
